@import "bootstrap/bootstrap";

@import "https://fonts.googleapis.com/css?family=Lato:400,700";

@primary: #98b96e;
@negative: #fff;

body {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
h1, h2, h3 {

}
p, li {

}
img {
	max-width: 100%;
}

header {
	background: url("../img/hero.jpg");
	background-size: cover;
	padding: 8em 0 17em;
	.overlay {
		background: @primary;
		color: @negative;
		padding: 1em 2.5em 2em;
	}
}
